@(caption: String, id: String)

<div class='chart-container'>
  <span>@caption</span>
  <div id="@{id.concat("-chart")}"></div>
  <script src="@routes.Assets.versioned(s"javascripts/$id.js")" type="text/javascript"></script>
</div>
