@(itemCount: Int)

@main("Prediction of Available Parking Space in Paderborn") {

<p>This is a webapp for my participation in the course <a href="https://www.cs.helsinki.fi/en/courses/582739/2017/k/k/1">
 Project in Practical Machine Learning</a> at <a href="https://www.helsinki.fi/fi">Helsinkin Yliopistio (University of
 Helsinki)</a></p>

<p>Until now, we crawled @itemCount different data points to use in the predictions. The data can be retrieved as JSON
 via <a href="@de.ironjan.pppb.core.routes.DataAPIController.working_data_crawled()">working_data_crawled</a>. For
internal testing, the data is also <a href="@de.ironjan.pppb.core.routes.DataAPIController.csv()">available as CSV</a>
 (no header in CSV; see source code for field descriptions).</p>

<p>After some time, the data will also be available as a graph. We will use the crawled data to
<a href="@de.ironjan.pppb.prediction.routes.PredictionController.predict()">predict availability 15 minutes into the
future</a> (That page just shows the prediction result). In the next stage, the predicted availability will be compared
 to actual availability.</p>


<p>Further links for the presentation:</p>
<ul>
 <li><a href="@de.ironjan.pppb.prediction.routes.PredictionController.predict()">Predict 15 minutes into the future</a></li>
 <li><a href="@de.ironjan.pppb.evaluation.routes.EvaluationController.getStats()">Prediction Statistics</a></li>
</ul>
</div>

@chartContainer("Free spaces by day", "day-free")
@chartContainer("Predictions", "predictions")
@chartContainer("Predictions were off by", "predictions-off-by")

}
